.progress{
    position: relative;
    height: 10px;
    width: 100%;
    border: 2px solid #00f7ff;
}
.progress .color{
    position: absolute;
    background-color: rgb(0, 255, 0);
    width: 0px;
    height: 10px;
    border-radius: 15px;
    animation: progres 4s infinite linear;    
}
@keyframes progres{
    0%{
      width: 0%;
    }
    25%{
        width: 50%;
    }
    50%{
        width: 75%;
    }
    75%{
        width: 85%;
    }
    100%{
        width: 100%;
    }
};